
body {
    background-color: whitesmoke;
  }
  
  h1 {
    
    text-align: center;
    font-size: 60px;
    color:black
    

  }
  .polyright{
       
        width :15%;
        height:auto;
      

 }
 
 .polyleft{
  
    width: 15%;
    height: auto;
    margin-right: 52%;
    margin-left: 2%;
  
  
}

img[alt="star"]{

  margin-top: 5%;

}

  
