
body {
    background-color: whitesmoke;
  }
  
  h1 {
    
    text-align: right;
    font-size: 60px;
    color:black
    

  }
  .polyright{
       
        float:right;
        width : 80%;
        height: 70%;
        gap: 60px;

 }
 
 .polyleft{

 display: flex;
  width: 50%;
  height: 60%;
  gap: 60px;
  
}

  

