
body {
    background-color: whitesmoke;
  }
  
  h1 {
    
    text-align: center;
    font-size: 60px;
    color:black
    

  }
  .polyright{
       text-align: right;
        width : 50%;
        height: auto;
      

 }
 
 .polyleft{

  text-align:left;
  width: 50%;
  height: auto;
  
}

  
